In [ ]:
import pandas as pd
import numpy as np

# MOUNTING DRIVE

In [ ]:

from google.colab import drive
drive.mount('/content/drive/')
data_dir = "/content/drive/My Drive/ML_Data"

data = f"{data_dir}/new_df.csv"
df = pd.read_csv(data)
df.columns

Mounted at /content/drive/

Index(['Unnamed: 0', 'winner', 'team', 'competitionId', 'scout_id',
       'player_weight', 'player_height', 'player_general_var_4',
       'team2_offensive_raw_var_77', 'player_positional_raw_var_185',
       'player_other_raw_var_197', 'player_other_raw_var_38',
       'player_other_raw_var_76', 'player_general_derived_var_156',
       'player_offensive_derived_var_89', 'player_offensive_raw_var_31',
       'player_positional_ratio_var_46', 'team2_defensive_raw_var_17',
       'player_other_raw_var_109', 'player_physical_raw_var_194',
       'team1_defensive_derived_var_17', 'team1_defensive_derived_var_2',
       'team1_other_raw_var_46', 'player_other_ratio_var_9',
       'player_other_ratio_var_74', 'player_positional_derived_var_85',
       'player_other_raw_var_64', 'team1_other_ratio_var_15',
       'player_other_derived_var_76', 'team1_other_ratio_var_16',
       'player_other_ratio_var_55', 'team2_other_raw_var_93',
       'team1_offensive_raw_var_1', 'player_general_derived_var_146',
       'player_other_derived_var_42', 'player_positional_raw_var_110',
       'player_general_raw_var_143', 'player_other_ratio_var_42',
       'player_defensive_derived_var_109', 'team1_other_ratio_var_18',
       'team2_other_raw_var_36', 'team1_other_ratio_var_21',
       'team1_other_ratio_var_20', 'player_position_2',
       'team1_other_ratio_var_0', 'team1_defensive_raw_var_17',
       'team1_other_raw_var_45', 'player_other_raw_var_139',
       'team2_offensive_derived_var_19', 'team2_other_raw_var_49',
       'team1_other_raw_var_47', 'rating_num'],
      dtype='object')

# DATA PREPROCESSING

In [ ]:
df = df.drop('Unnamed: 0', axis =1)
df = df.drop('scout_id', axis=1)

In [ ]:
df.dtypes

winner                                int64
team                                  int64
competitionId                         int64
player_weight                       float64
player_height                       float64
player_general_var_4                float64
team2_offensive_raw_var_77            int64
player_positional_raw_var_185       float64
player_other_raw_var_197            float64
player_other_raw_var_38             float64
player_other_raw_var_76             float64
player_general_derived_var_156      float64
player_offensive_derived_var_89     float64
player_offensive_raw_var_31           int64
player_positional_ratio_var_46      float64
team2_defensive_raw_var_17            int64
player_other_raw_var_109            float64
player_physical_raw_var_194         float64
team1_defensive_derived_var_17      float64
team1_defensive_derived_var_2       float64
team1_other_raw_var_46              float64
player_other_ratio_var_9            float64
player_other_ratio_var_74           float64
player_positional_derived_var_85    float64
player_other_raw_var_64             float64
team1_other_ratio_var_15            float64
player_other_derived_var_76         float64
team1_other_ratio_var_16            float64
player_other_ratio_var_55           float64
team2_other_raw_var_93              float64
team1_offensive_raw_var_1             int64
player_general_derived_var_146      float64
player_other_derived_var_42         float64
player_positional_raw_var_110       float64
player_general_raw_var_143            int64
player_other_ratio_var_42           float64
player_defensive_derived_var_109    float64
team1_other_ratio_var_18            float64
team2_other_raw_var_36              float64
team1_other_ratio_var_21            float64
team1_other_ratio_var_20            float64
player_position_2                     int64
team1_other_ratio_var_0             float64
team1_defensive_raw_var_17            int64
team1_other_raw_var_45              float64
player_other_raw_var_139            float64
team2_offensive_derived_var_19      float64
team2_other_raw_var_49              float64
team1_other_raw_var_47              float64
rating_num                          float64
dtype: object

In [ ]:
df.shape

(20453, 50)

In [ ]:
df = df[df['rating_num'] != 0]

In [ ]:
test_players = df[df['rating_num'] <= 6].sample(n=1000, random_state=42)

# drop the corresponding rows from the original dataframe
df = df.drop(test_players.index)

In [ ]:
test_players

,winner,team,competitionId,player_weight,player_height,player_general_var_4,team2_offensive_raw_var_77,player_positional_raw_var_185,player_other_raw_var_197,player_other_raw_var_38,...,team1_other_ratio_var_20,player_position_2,team1_other_ratio_var_0,team1_defensive_raw_var_17,team1_other_raw_var_45,player_other_raw_var_139,team2_offensive_derived_var_19,team2_other_raw_var_49,team1_other_raw_var_47,rating_num
12493,1,1,11,0.20,0.243902,1.811457,404,0.095861,0.421053,0.058824,...,0.349242,6,0.344758,129,0.202176,0.0000,-1.976943,0.310000,0.310727,5.0
13768,1,0,7,0.26,0.414634,-0.156199,268,0.156863,0.585526,0.117647,...,0.203320,7,0.300000,91,0.178571,0.0000,2.376040,0.310000,0.462252,6.0
2684,1,1,4,0.40,0.292683,0.217488,276,0.167756,0.561718,0.058824,...,0.336100,8,0.227000,162,0.321429,0.0625,0.454249,0.380000,0.305960,3.5
4848,0,1,7,0.60,0.585366,-0.611996,305,0.078431,0.486842,0.117647,...,0.435685,3,0.313000,124,0.250000,0.0000,-0.378977,0.370000,0.272848,6.0
19731,2,0,4,0.40,0.292683,0.217488,607,0.222222,0.561718,0.000000,...,0.435685,8,0.235000,149,0.142857,0.0000,-1.093272,0.350000,0.177483,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17479,2,0,11,0.74,0.804878,-0.487893,312,0.100218,0.552632,0.176471,...,0.352697,11,0.286000,93,0.107143,0.1250,0.533636,0.690000,0.129801,6.0
18909,1,0,5,0.60,0.731707,-5.199338,609,0.056645,0.561718,0.000000,...,0.261411,17,0.286000,159,0.285714,0.0000,0.926176,0.240000,0.451656,5.0
7660,1,0,4,0.44,0.390244,-0.053973,105,0.287582,0.375000,0.058824,...,0.448133,9,0.556000,144,0.285714,0.0000,0.265284,0.290000,0.423841,6.0
18815,2,1,5,0.42,0.487805,0.530745,674,0.217865,0.717105,0.000000,...,0.431535,8,0.143000,139,0.178571,0.0000,-0.866189,0.240000,0.153642,5.0
13595,1,0,11,0.40,0.463415,-1.659093,451,0.108932,0.493421,0.058824,...,0.349242,7,0.344758,129,0.202176,0.0000,0.103057,0.358109,0.310727,5.0

In [ ]:
test_players['rating_num'].value_counts()

6.0    473
5.0    343
3.5    167
3.0     10
2.0      7
Name: rating_num, dtype: int64

In [ ]:
test_player_targets = test_players.iloc[:,-1]
test_players_features = test_players.drop('rating_num', axis = 1)


test_player_targets

12493    5.0
13768    6.0
2684     3.5
4848     6.0
19731    6.0
        ...
17479    6.0
18909    5.0
7660     6.0
18815    5.0
13595    5.0
Name: rating_num, Length: 1000, dtype: float64

# K Nearest Neighbour Regressor

In [ ]:
from sklearn.model_selection import train_test_split
y = df['rating_num']
X = df.drop(['rating_num'], axis = 1)

In [ ]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# initialize the KNN regressor with k=5
knn = KNeighborsRegressor(n_neighbors=5)

# fit the model to the data
knn.fit(X, y)

# predict the ratings of the test data
y_pred = knn.predict(test_players_features)

# evaluate the model performance using mean squared error
mse = mean_squared_error(test_player_targets, y_pred)
print('Mean squared error:', mse)


# Create a dataframe to store the player id, original rating, and new rating for the test players
test_player_ratings = pd.DataFrame(index=test_players.index)
test_player_ratings['player_id'] = test_player_targets.index
test_player_ratings['original_rating'] = test_player_targets
test_player_ratings['new_rating'] = y_pred

# Display the test player ratings dataframe
print(test_player_ratings)

Mean squared error: 3.75345
       player_id  original_rating  new_rating
12493      12493              5.0         7.2
13768      13768              6.0         6.0
2684        2684              3.5         5.3
4848        4848              6.0         6.8
19731      19731              6.0         7.1
...          ...              ...         ...
17479      17479              6.0         6.0
18909      18909              5.0         5.2
7660        7660              6.0         7.7
18815      18815              5.0         7.6
13595      13595              5.0         6.6

[1000 rows x 3 columns]

# TEST PLAYER NEW RATING

In [ ]:
test_player_ratings

       player_id  original_rating  new_rating
12493      12493              5.0         7.2
13768      13768              6.0         6.0
2684        2684              3.5         5.3
4848        4848              6.0         6.8
19731      19731              6.0         7.1
...          ...              ...         ...
17479      17479              6.0         6.0
18909      18909              5.0         5.2
7660        7660              6.0         7.7
18815      18815              5.0         7.6
13595      13595              5.0         6.6

[1000 rows x 3 columns]

In [ ]:
# Add a new column to the test player ratings dataframe for the difference between the actual rating and predicted rating
test_player_ratings['rating_diff'] = abs(test_player_ratings['original_rating'] - test_player_ratings['new_rating'])

# Sort the test player ratings dataframe by the rating difference in descending order
sorted_player_ratings = test_player_ratings.sort_values('rating_diff', ascending=False)

# Display the sorted player ratings dataframe
print(sorted_player_ratings)

       player_id  original_rating  new_rating  rating_diff
6750        6750              2.0         8.8          6.8
14569      14569              3.5         9.0          5.5
10867      10867              3.5         9.0          5.5
7390        7390              2.0         7.1          5.1
8503        8503              3.5         8.6          5.1
...          ...              ...         ...          ...
13294      13294              6.0         6.0          0.0
17626      17626              6.0         6.0          0.0
14774      14774              6.0         6.0          0.0
14382      14382              6.0         6.0          0.0
13467      13467              6.0         6.0          0.0

[1000 rows x 4 columns]

In [ ]:
sorted_player_ratings.head(50)

       player_id  original_rating  new_rating  rating_diff
6750        6750              2.0         8.8          6.8
14569      14569              3.5         9.0          5.5
10867      10867              3.5         9.0          5.5
7390        7390              2.0         7.1          5.1
8503        8503              3.5         8.6          5.1
19379      19379              5.0        10.0          5.0
6357        6357              3.5         8.5          5.0
569          569              3.5         8.5          5.0
4962        4962              3.5         8.3          4.8
9898        9898              3.5         8.3          4.8
10435      10435              3.5         8.2          4.7
9743        9743              3.5         8.2          4.7
9736        9736              3.5         8.1          4.6
5970        5970              3.5         8.1          4.6
5848        5848              3.5         8.0          4.5
19150      19150              5.0         9.5          4.5
703          703              3.5         8.0          4.5
6098        6098              3.5         8.0          4.5
6035        6035              3.5         8.0          4.5
9379        9379              3.5         8.0          4.5
11354      11354              3.5         7.9          4.4
1598        1598              3.5         7.8          4.3
1155        1155              3.5         7.8          4.3
5657        5657              3.5         7.8          4.3
4642        4642              3.5         7.8          4.3
6553        6553              3.5         7.7          4.2
4711        4711              3.0         7.2          4.2
9124        9124              3.5         7.7          4.2
8650        8650              3.5         7.7          4.2
3176        3176              3.0         7.2          4.2
164          164              3.5         7.7          4.2
1073        1073              3.5         7.7          4.2
1504        1504              3.5         7.7          4.2
7857        7857              5.0         9.2          4.2
8382        8382              5.0         9.2          4.2
8901        8901              3.5         7.6          4.1
1031        1031              3.5         7.6          4.1
7578        7578              3.5         7.5          4.0
3978        3978              3.5         7.5          4.0
6349        6349              3.5         7.5          4.0
7867        7867              3.5         7.5          4.0
2030        2030              2.0         5.9          3.9
9245        9245              5.0         8.9          3.9
6094        6094              3.5         7.4          3.9
1531        1531              3.5         7.3          3.8
6232        6232              3.5         7.2          3.7
7146        7146              3.5         7.2          3.7
1091        1091              3.5         7.2          3.7
8316        8316              3.5         7.1          3.6
10177      10177              3.5         7.1          3.6